spring:
  application:
    name: sghss

  profiles:
    active: dev

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

jwt:
  secret: "3O5LwM7Yf3F+Qa8jXj3f7lVv3k1gUo7aQ2iE8mVdZjU="
  expiration: 86400000

logging:
  level:
    root: INFO
    com.sghss: DEBUG
    org.springframework.security: DEBUG