spring:
  application:
    name: sghss

  profiles:
    active: dev

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

jwt:
  secret: ${JWT_SECRET:sua-chave-secreta-super-segura-com-256-bits-minimo}
  expiration: 86400000

logging:
  level:
    root: INFO
    com.sghss: DEBUG
    org.springframework.security: DEBUG